.Container{
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 196, 196);
    border-radius: 2vh;
    padding: 2vh;
    margin-top: 2vh;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 30vh;
}

.Container textarea{
    color: #585858;
    max-width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 3.5vh;
    resize: none;
    background-color: transparent;
    padding-bottom: 3%;
    margin: 4vh;
}

.ButtonGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 10%; */
}

.ColorButtons{
    display: flex;
    flex-direction: row;
    padding-left: 3vh;
}