.Container{
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
    padding: 2vh;
    margin-top: 2vh;
    position: relative;
    box-sizing: border-box;
    width: 80%;
}

.Container h3{
    display: flex;
    flex: auto;
    align-items: center;
}
